<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isel.pdm.trab.openweathermap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyWeatherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.CreditsActivity" />
        <activity android:name=".presentation.CurrentDayActivity" />
        <activity
            android:name=".presentation.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ForecastActivity" />
        <activity android:name=".presentation.ForecastDayActivity" />

        <provider
            android:name=".models.content.WeatherProvider"
            android:authorities="isel.pdm.trab.openweathermap"
            android:enabled="true"
            android:exported="true"></provider>

        <activity
            android:name=".presentation.PreferencesActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.RefreshCurrentDayService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.RefreshForecastService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receivers.FavouriteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="isel.pdm.trab.openweathermap.FORECAST_SERVICE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.WifiReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>